:root {
  --black: #111317;
  --blue: #1a2b59;
  --dark_white: #f7f7f7;
}

a {
  text-decoration: none;
  color: white
}

p {
  font-size: 1.2em;
  font-family: "Roboto", "Plus Jakarta", sans-serif;
  color: var(--black);
}

h2 {
  font-size: 1.6em;
  font-family: 'Azeret Mono', monospace;
  color: var(--black);
  margin-left: 1.2em;
}

h3 {
  font-size: 1.4em;
  font-family: 'Azeret Mono', monospace;
  color: var(--black);
}

ul {
  list-style-type: none;
}

ul > li {
  display: inline-block;
}

body {
  background-color: var(--dark_white);
  list-style-type: none;
}

.header {
  background-color: var(--blue);
  height: 3em;
  width: 100%;
}

.headlinks {
  display: block;
  position: absolute;
  right: 1.2em;
  margin-top: 1.5em;
  transform: translate(0, -50%);
  margin-right: 1.2em;
  color:  white;
  font-size: 1em;
  font-family: 'Azeret Mono', monospace;
}

.homebutton {
  position: absolute;
  margin-top: 1.5em;
  transform: translate(0, -50%);
  color:  white;
}

.homebutton a {
  color: white;
  font-family: 'Azeret Mono', monospace;
}

.headlinks a {
  margin-left: 2em;
}

li a {
  display: block;
}

.con_bar {
  width: 100%;
  background-color: white;
}

.kalender {
  /*margin-left: 50%;
  transform: translate(-50%, 0%);*/
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content max-content;
  column-gap: 1.6em;
  grid-auto-rows: 2em;
  background-color: white;
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-bottom: 1.6em;
}

.kalender p {
  display: inline;
}

.k_head {
  font-weight: bold;
  font-family: 'Azeret Mono', monospace;
}

.text {
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.text a {
  color: var(--blue);
  text-decoration: underline;
}

.textf {
  margin-top: -2.4em;
  margin-bottom: 1.8em;
  background: var(--dark_white);
  border: none;
  border-bottom: 2px solid;
  border-color: var(--blue);
}

.subbut {
  background: var(--dark_white);
  border: 2px solid;
  border-color: var(--blue);
  font-family: 'Azeret Mono', monospace;
  transition: 0.15s;
}

.subbut:hover {
  background-color: var(--blue);
  color: var(--dark_white);
}